@import './styles/variables.css';
@import './styles/globals.css';
@import './styles/components/header.css';
@import './styles/components/card.css';
@import './styles/components/modal.css';
@import './styles/components/toast.css';
@import './styles/components/burger.css';
@import './styles/components/forms.css';
@import './styles/pages/cards.css';
@import './styles/pages/transactions.css';
@import './styles/pages/profile.css';

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}